# Required because these files existed before makeing this file.
git rm --cached LICENSE
git rm --cached run-scripts/
git rm --cached /install-free.sh

# ignore the LICENSE file
LICENSE

# ignore folders
run-scripts/

# ignore files
/install-free.sh
